/*
CONVENIO DE COMO ESTILAR

1.-posicinamiento
2.- modelo de caja
3.-tipografia
4.-visuales
5.-OTROS
*/

:root
{
    /* COLORES */
    --bitcoin-orange:#F7931A;
    --sotf-orange:#ffe9d5;
    --secondary-blue:#1a9af7;
    --sotf-blue:#e7f5ff;
    --warm-black:#282623;
    --black:#201e1c;
    --grey:#BABABA;
    --off-white:#faf8f7;
    --just-white:#fff;
    --soft-blue: #e7f5ff;


}

/* estilos generales de csss------------------------------------------------------------------------- */
*
{
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}


html
{
    font-size: 62.5%;
    font-family:"DM Sans", sans-serif;
}

/* HEADER-------------------------------------------------------------------------------------------------------------------------- */

header
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    min-width: 320px;
    height: 304px;

    text-align: center;

    /* linear gradinte */
    background:linear-gradient( #201e1c 15.69%, #f7931a 100%);

}

header img
{
    width: 150px;
    height: 24px;

    margin-top: 60px;
/* la manera de cenral a un contenedor que tenga display flex */

    align-self: center;
}

.header--title-container
 {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;

    margin-top: 30px;

    text-align: center;
    align-self: center;

}

.header--title-container h1
{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.1rem;

    color: var(--just-white);
}


.header--title-container p
{
    margin-top: 25px;

    font-size: 1.0rem;
    font-weight: 500;
    /*  */
    line-height: 1.8rem;

    color: var(--sotf-orange);

}
/* boton flotante */
.header--title-container .header--button
{
    position: absolute;
    left: calc(45% - 100px);
    top: 240px;

    margin-top: 50px;
    padding: 15px;
    width: 229px;
    height: 45px;

    background-color: var(--off-white);

    display:block ;

    /* sombras */
    box-shadow: 0px 4px 8px rgba(89, 73,38, 0.16);
    border: none;
    border-radius: 5px;

    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;

    color: var(--black);

}
.header--title-container span
{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;

    background-image: url('../img/iconos/down-arrow.svg');
}

/*FIN DE HEADER--------------------------------------------------------------------------------HEADER*/

main
{
    width: 100%;
    height: auto;
    background-color: var(--off-white)


}

.main-exchangue-container
{
    width:100% ;
    height: auto;

    padding-top: 80px;
    padding-bottom: 30px;

    text-align: center;
}
.main-exchangue-container .backgroundImg
{
    width: 200px;
    height: 200px;

    /* centramos con margin */
    margin: 0 auto;

    margin-bottom: 50px;

    background-image: url(../img/Bitcoin.svg);

    /* aplicando buenas practicas */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;




}

.main-exchangue-container--title
{
    width: 90%;
        min-width: 288px;
        max-width: 900px;
        margin: 0 auto;

}


.main-exchangue-container h2
{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;

    line-height: 2.6rem;

    color: var(--black);
}

.main-exchangue-container p
{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #7575;/*este color se va ocupar solamente aqui*/
}



/*Maquetando tablas--------------------------------------------------------------------------------------inicio de tablas*/

.main-currency-table
{
    width: 70%;
        min-width: 235px;
        max-width: 500px;

    height: 360px;

    margin: 0 auto;

    font-family: "Inter",sans-serif;
}


.main-currency-table .currency-table--tilte
{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;

    line-height: 2.3rem;
    color:var(--bitcoin-orange);

}


.main-comisiones-table .comisiones-table--title
{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;

    line-height: 2.3rem;

    color: var(--secondary-blue);
}
.currency-table--container , .comisiones-table--container
{
    width: 90%;
        min-width: 230px;
        max-width: 300px;

    height: 250px;

    margin:0 auto;
}

.currency-table--container table,
.comisiones-table--container table
{
    width: 100%;
    height: 100%;




}

.currency-table--container td,
.comisiones-table--container td
{
    width: 50%;

    font-size: 1.6rem;

    font-weight: 500;

    line-height: 1.9rem;

    color: var(--grey);

    background-color: var(--just-white);


}


/*bordeando la tabla*/
.main-currency-table .table__top-left,.main-comisiones-table .table__top-left
{
    border-radius: 10px 0px 0 0px;
}

.main-currency-table .table__top-right
,
.main-comisiones-table .table__top-right
{
    border-radius: 0px 10px 0px 0px;
}

.main-currency-table .table__bottom-left
,.main-comisiones-table .table__bottom-left


{
    border-radius: 0px 0px 0px 20px;
}

.main-currency-table .table__bottom-right
,
.main-comisiones-table .table__bottom-right
{
    border-radius: 0px 0px 20px 0px;

}


.currency-table--date
{
    width: 190px;
    height: 30px;

    margin: 0 auto;

    /*para separarlo de la tabla*/
    margin-top: 15px;

    /*generar un espacio interno*/
    padding: 8px;

    background-color: var(--sotf-orange);
    border-radius: 2px;

}
.comisiones-table--date
{
    width: 190px;
    height: 30px;

    margin: 0 auto;

    /*para separarlo de la tabla*/
    margin-top: 15px;

    /*generar un espacio interno*/
    padding: 8px;

    background-color: var(--soft-blue);
    border-radius: 2px;


}



.currency-table--date p,
.comisiones-table--date p{


    font-size: 1.1rem;

    color: var(--warm-black);

}


/*icono de subida o bajada*/

.down
{
    background-image: url(../img/assets/iconos/trending-down.svg);

    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-left: 10px;


    width:15px;
    height:15px;
}
.up
{

    background-image: url(../img/assets/iconos/trending-up.svg);

    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-left: 10px;


    width:15px;
    height:15px;
}



/*Fin de Maquetando Tablas*************************************************************************************************/










/*inicio----Tarjetas---------------------------------------------------------------------------------------------------------------------------------------*/

.main-product-detail
{
    position: relative;

    width: 100%;
        min-width: 320px;
    height: auto;


    padding: 20px 10px;

    background-color: var(--black);
}

.product-datail--batatalogo
{
    /*hay que vrificar quien es el padre directo*/

    position: absolute;
        top: -15px;
        left: calc(45% - 10px);

    width: 40px;
    height: 25px;



    background-image: url(../img/iconos/batata.svg);


}


.product-detail---title
{
    width: 90%;
        min-width: 288px;
        height: auto;

    margin: 0 auto ;


    padding-top: 40px;
    text-align: center;



}
.product-detail---title h2
{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;

    color:var(--just-white) ;
}

.product-detail---title p{
    margin-bottom: 20px;
    font-weight: 500;


    color: #888888;
}




.product-detail--card
{
        width: 100%;
            min-width: 288px;
            max-width: 400px;

        height: 150px;

        margin: 35px auto;

        padding: 15px;

        background-color: var(--warm-black);

        border-radius: 5px;

        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.20);

}
.product-detail--card .card-icono
{
    display: inline-block;
    width: 20px;
    height: 20px;

    margin-bottom: 10px;



    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.clock
{
    background-image: url("../img/assets/iconos/dollar-sign.svg");
}
.eye
{
    background-image: url("../img/assets/iconos/eye.svg");

}
.check
{
    background-image: url("../img/assets/iconos/check-circle.svg");
}

.product--card-title
{
    margin-bottom: 15px;

    font-size: 1.8rem;

    font-weight: bold;

    line-height: 1.8rem;

    color: var(--just-white);


}
.product--card-body
{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;

    color: var(--grey);
}


/*-Fin de Tarjeta---------------------------------------------------------------------------------------------------------------------------------------------------fin de tarjetas*/



/*Inicio de zona comodin----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.bittcoin-image-container
{
    width: 100%;
        min-width: 320px;

    height: 50vh;

    background: url("../img/bitcoinbaby2x.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}
.bittcoin-image-container h2
{
    text-align: center;
    padding-top: 60px;

    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: bold;

    color: var(--just-white);
}

/*Fin de  zona comodin--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/





/*Secccion de plane---------------------------------------------------------------------------------------------------------------------------------------------------*/
.planes-container--slider
{
    display: flex;
    gap: 50px; 

    height: 316px;
    scroll-snap-align: center;

    overflow-x:scroll;
    overscroll-behavior-x:contain;
    scroll-snap-type: xproximity;
    
}
.main-planes-container
{
    width: 100%;
        min-width: 320px;

    padding-bottom: 70px;

    text-align: center;



}

.planes--title
{
    width: 90%;
        min-width: 288px;

    height: auto;

    margin: 0 auto;
     margin-bottom: 50px; 

}

.planes--title h2
{
    padding-top: 50px;
    font-size: 2.4rem;

    font-weight: bold;

    line-height: 2.6rem;

    color:var(--black);
}

.planes--title p
{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;

    color: #BABABA;

    line-height:1.8rem ;
}




.planes-container--card
{
    

    position: relative;
    width: 70%;
        min-width: 250px;
        max-width: 300px;
    
    height: 250px;
    margin: 50px auto 0;

    padding: 0 15px;

    background-color: var(--just-white);

    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(89, 73, 30,0.16);


        -webkit-box-shadow: 12px 11px 13px -8px rgba(156,199,46,1);
        -moz-box-shadow: 12px 11px 13px -8px rgba(156,199,46,1);
        box-shadow: 12px 11px 13px -8px rgba(156,199,46,1);
}

.recomendado 
{
    position: absolute;
        left: calc(50% - 50px);
        top: -8px;
        
    width:100px;    
    max-height: 30px;   
    
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
   
    padding: 6px;
    border-radius: 10px;

    background-color: var(--bitcoin-orange);
    color: var(--just-white);

}

.plan-info-container
{
    padding-top: 25px;
}


.plan-card--title
{
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
}

.plan-card--price
{
    padding: 5px 0;

    font-size: 5.2rem;
    font-weight: bold;

    
    line-height: 4rem;
    color: var(--black);


}

.plan-card--price #money{
    font-size:1.2rem;
    font-weight: 300;

   position: relative;

   top: -25px;
   left:-5px;
}

.plan-card--saving
{
    color:var(--grey);
    font-weight: bold;
}


.plan-card--ca
{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    


    border-radius: 5px;
    border: 2px  solid var(--bitcoin-orange);

    font-family: "DM Sans";
    font-weight: bold;
    font-size: 1.2rem;
    color:var(--black);
    line-height:1.8rem;





    background-color: var(--off-white);

}


.plan-card--ca span
{
    display: inline-block;

    width: 20px;
    height: 20px;

    background-image: url("../img/orange-right-arrow.svg");

    background-repeat: no-repeat;
    background-size: cover;

    /*para aliniar el icocno*/
    vertical-align: text-bottom;
    
}


/*Fin de seccion de planes----------------------------------------------------------------------------------------------------------------------------------------------------------*/






/*incio de FOOTER------------------------------------------------------------------------------------------------------------------------------------------------------------------Footer*/
footer
{
    display: flex;

    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section
{
    width: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

}


footer section ul
{
    list-style: none;
    

   
    
}

footer section ul li 
{
    padding: 5px;
}

footer section ul li a
{
    color: var(--off-white);  
    text-decoration-line: none; 
    
}

footer section ul li a:hover
{
    color: var(--just-white);  
    font-size: 1.1rem;
}


footer section img 
{
    display: inline-block;
    width: 80px;
    height: 80px;

    background-size: cover;
    vertical-align: bottom;
    
}
/* Fin de Footer----------------------------------------------- -------------------------------------------------------------------------------------------------------------------------------Fin footeer */

