/* 
CONVENIO DE COMO ESTILAR

1.-posicinamiento
2.- modelo de caja
3.-tipografia
4.-visuales
5.-OTROS
*/

:root
{
    /* COLORES */
    --bitcoin-orange:#F7931A;
    --sotf-orange:#ffe9d5;
    --secondary-blue:#1a9af7;
    --sotf-blue:#e7f5ff;
    --warm-black:#2011ec1c;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#faf8f7;
    --just-white:#fff;

}

/* estilos generales de csss------------------------------------------------------------------------- */
*
{
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}


html
{
    font-size: 62.S%;
    font-family:"DM Sans", sans-serif;
}

/* -------------------------------------------------------------------------------------------------------------------------- */

header 
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    min-width: 320px;
    height: 334px;

    text-align: center;
}

header img
{
    width: 150px;
    height: 24px;
    
    margin-top: 60px;
/* la manera de cenral a un contenedor que tenga display flex */

    align-self: center;
}

.header--title-container
 {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;

    margin-top: 30px;

    text-align: center;
    align-self: center;

}


/*HEADER--------------------------------------------------------------------------------HEADER*/
